In [1]:
'''
Algorithmic Trading Framework

Data from testnet is not accurate.

Install dependencies: 

pip install -r requirements.txt

Some functions need an API-key.  
Export as environment variables, afterwards run notebook from same shell.

Bash/Sh/Zsh:                                    Check
export BINANCE_API_KEY='your_api_key'           echo $BINANCE_API_KEY
export BINANCE_API_SECRET='your_secret_key'     echo $BINANCE_API_SECRET

Powershell:                                     Check
$env:BINANCE_API_KEY = 'your_api_key'           $env:BINANCE_API_KEY
$env:BINANCE_API_SECRET = 'your_secret_key'     $env:BINANCE_API_KEY
'''
import os
import pandas as pd
import numpy as np
import scipy.optimize as sco
from binance.spot import Spot as Client
pd.set_option('display.max_rows', 80)
# pd.reset_option('display.float_format')

# Synchronize with timeserver if time is off, ommit base_url to default to api.binance.com
client = Client(os.getenv('BINANCE_API_KEY'), os.getenv('BINANCE_API_SECRET'), base_url='https://testnet.binance.vision')
pd.to_datetime(client.time()['serverTime'], unit='ms')

Timestamp('2022-05-11 08:57:39.441000')

In [2]:
balance = pd.json_normalize(client.account()['balances'])
balance

  asset             free      locked
0   BNB    1000.00000000  0.00000000
1   BTC       1.00000000  0.00000000
2  BUSD   10000.00000000  0.00000000
3   ETH     100.00000000  0.00000000
4   LTC     500.00000000  0.00000000
5   TRX  500000.00000000  0.00000000
6  USDT   10000.00000000  0.00000000
7   XRP   50000.00000000  0.00000000

In [3]:
symbols = ['BTCUSDT', 'ETHUSDT', 'BNBUSDT', 'LTCUSDT', 'TRXUSDT', 'XRPUSDT' ]
columns =  ['Open time','Open', 'High', 'Low', 'Close', 'Volume', 'Close time', 'Quote asset volume', 'Number of trades', 'Taker buy base asset volume', 'Taker buy quote asset volume', 'Ignore' ]
# assets= [pd.DataFrame((c[4] for c in client.klines(symbol, "1d")),columns=[symbol]) for symbol in symbols]
assets = pd.concat(([pd.DataFrame(client.klines(symbol, "1d"), columns=columns) for symbol in symbols]), axis = 1, keys=symbols)
assets

         BTCUSDT                                                   \
       Open time            Open             High             Low
0  1651622400000  38127.16000000   67952.01000000   9000.00000000
1  1651708800000  39690.01000000   48256.09000000  12000.00000000
2  1651795200000  36552.97000000   90000.00000000   9500.00000000
3  1651881600000  35851.70000000  179685.00000000   2000.00000000
4  1651968000000  35472.40000000  172120.00000000   6988.00000000
5  1652054400000  34036.87000000   44600.00000000   6392.00000000
6  1652140800000  30089.10000000   34490.00000000  10000.00000000
7  1652227200000  31016.84000000  158649.00000000   6313.00000000

                                                                     \
            Close         Volume     Close time  Quote asset volume
0  39695.80000000  3289.47888900  1651708799999  128626868.06394152
1  36551.04000000  3747.85911700  1651795199999  142179013.42520536
2  35844.54000000  5133.87878000  1651881599999  185618082.67083564
3  35472.39000000  2648.74837000  1651967999999   94693433.70235498
4  34035.00000000  5928.73934500  1652054399999  204738551.12075512
5  30092.43000000  7687.56723900  1652140799999  249999769.04934389
6  31017.10000000  8559.00085700  1652227199999  268131123.83220909
7  31191.96000000  3133.33021000  1652313599999   97368349.48979546

                                                ...     XRPUSDT              \
  Number of trades Taker buy base asset volume  ...        High         Low
0           109403               2070.21409400  ...  0.64990000  0.60830000
1           136426               2305.80703300  ...  0.65710000  0.58040000
2           195320               2791.12783400  ...  0.61630000  0.58130000
3           110202               1439.33242400  ...  0.60340000  0.56940000
4           216686               3380.01233600  ...  0.58280000  0.55810000
5           259088               4741.36570900  ...  0.57870000  0.47290000
6           277525               5468.99729300  ...  0.49490000  0.43330000
7           100448               1998.01721500  ...  0.48640000  0.24320000

                                                                    \
        Close             Volume     Close time Quote asset volume
0  0.64610000   7188003.90000000  1651708799999   4497422.00637000
1  0.59830000  11682556.70000000  1651795199999   7147202.83414000
2  0.58130000  12824794.10000000  1651881599999   7706389.17155000
3  0.58180000   4378006.60000000  1651967999999   2579982.36840000
4  0.56620000   9985261.30000000  1652054399999   5708676.23890000
5  0.48650000  27793876.20000000  1652140799999  14549295.78418000
6  0.48640000    447513.80000000  1652227199999    218395.38982000
7  0.24320000       617.00000000  1652313599999       292.32640000

                                                                             \
  Number of trades Taker buy base asset volume Taker buy quote asset volume
0             8638            7020708.90000000             4393175.81487000
1            13976           11566933.90000000             7074742.84037000
2            15203           12610238.80000000             7578080.05335000
3             5475            4097615.10000000             2413970.94234000
4            10831            9690239.70000000             5539919.86459000
5            28997           27405138.00000000            14344952.93562000
6              902             368013.00000000              180069.76292000
7                7                617.00000000                 292.32640000


  Ignore
0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      0

[8 rows x 72 columns]

In [4]:
assets = assets.swaplevel(axis=1) # Swapping levels for easier selection
assets = assets.set_index(pd.to_datetime(assets['Close time', 'BTCUSDT'], unit='ms').dt.strftime('%Y-%m-%d')) # Set close time as index, needs improvement
assets.index.name = 'Close time'
assets_close = assets["Close"].copy().astype(float) # Daily close prices
assets_close

             BTCUSDT  ETHUSDT  BNBUSDT  LTCUSDT  TRXUSDT  XRPUSDT
Close time
2022-05-04  39695.80  2940.67   402.60    106.4  0.08630   0.6461
2022-05-05  36551.04  2747.93   378.50     96.9  0.07454   0.5983
2022-05-06  35844.54  2655.33   157.07     95.6  0.08167   0.5813
2022-05-07  35472.39  2637.33   365.50     94.5  0.08349   0.5818
2022-05-08  34035.00  2519.51   356.00     94.0  0.08795   0.5662
2022-05-09  30092.43  2227.25   296.40     76.0  0.07273   0.4865
2022-05-10  31017.10  2786.67   319.20     78.7  0.07298   0.4864
2022-05-11  31191.96  2343.57   307.90     78.7  0.07298   0.2432

In [5]:
returns = assets_close.pct_change().dropna() # Daily Returns
returns.mean(axis = 0)

BTCUSDT   -0.032704
ETHUSDT   -0.024933
BNBUSDT    0.075746
LTCUSDT   -0.039352
TRXUSDT   -0.019218
XRPUSDT   -0.109903
dtype: float64

In [6]:
# Correlation Coefficient
returns.corr()

          BTCUSDT   ETHUSDT   BNBUSDT   LTCUSDT   TRXUSDT   XRPUSDT
BTCUSDT  1.000000  0.555762  0.235369  0.942106  0.745670 -0.077259
ETHUSDT  0.555762  1.000000  0.156245  0.506711  0.265000  0.588516
BNBUSDT  0.235369  0.156245  1.000000  0.196899  0.056506  0.192538
LTCUSDT  0.942106  0.506711  0.196899  1.000000  0.842238  0.045963
TRXUSDT  0.745670  0.265000  0.056506  0.842238  1.000000  0.146453
XRPUSDT -0.077259  0.588516  0.192538  0.045963  0.146453  1.000000

In [7]:
riskfree_return = 0.031 # 5 Year Treasury Rate, but testnet resets every month
# Optimal Sharpe Ratio Portfolio (Tangency Portfolio)
asset_qty = len(assets_close.columns)

def portfolio_return(weights):
    return returns.dot(weights.T).mean() * 365.25

def portfolio_risk(weights):
    return returns.dot(weights.T).std() * 365.25

def minimized_sharpe(weights):
    return (riskfree_return - portfolio_return(weights))/portfolio_risk(weights)

equal_weights = np.full(asset_qty, 1/asset_qty)
constraint = ({'type': 'eq', 'fun': lambda x: np.sum(x) -1})
bounds = tuple((0,1) for x in range(asset_qty))

# Sequential Least Squares Programming
optimum = sco.minimize(minimized_sharpe, equal_weights, method='SLSQP', bounds=bounds, constraints=constraint)
np.set_printoptions(suppress = True)
optimum # No surprise with that 157.07$ BNB outlier

     fun: -0.12781635197909444
     jac: array([ 0.05781469,  0.04658133, -0.00014338,  0.06974368,  0.03366981,
        0.1931034 ])
 message: 'Optimization terminated successfully'
    nfev: 14
     nit: 2
    njev: 2
  status: 0
 success: True
       x: array([0., 0., 1., 0., 0., 0.])

In [8]:
# Optimal Weights
pd.options.display.float_format = '{:.4f}'.format
optimal_weights = optimum['x']
optimal_weights = pd.Series(index = assets_close.columns, data = optimal_weights)
optimal_weights

BTCUSDT   0.0000
ETHUSDT   0.0000
BNBUSDT   1.0000
LTCUSDT   0.0000
TRXUSDT   0.0000
XRPUSDT   0.0000
dtype: float64

In [9]:
portfolio_return(optimal_weights)

27.666216063233264

In [10]:
portfolio_risk(optimal_weights)

216.21033330503178

In [11]:
-minimized_sharpe(optimal_weights)

0.12781635197909444

In [12]:
# Tangency Portfolio
returns['TP'] = returns.dot(optimal_weights)
returns

            BTCUSDT  ETHUSDT  BNBUSDT  LTCUSDT  TRXUSDT  XRPUSDT      TP
Close time
2022-05-05  -0.0792  -0.0655  -0.0599  -0.0893  -0.1363  -0.0740 -0.0599
2022-05-06  -0.0193  -0.0337  -0.5850  -0.0134   0.0957  -0.0284 -0.5850
2022-05-07  -0.0104  -0.0068   1.3270  -0.0115   0.0223   0.0009  1.3270
2022-05-08  -0.0405  -0.0447  -0.0260  -0.0053   0.0534  -0.0268 -0.0260
2022-05-09  -0.1158  -0.1160  -0.1674  -0.1915  -0.1731  -0.1408 -0.1674
2022-05-10   0.0307   0.2512   0.0769   0.0355   0.0034  -0.0002  0.0769
2022-05-11   0.0056  -0.1590  -0.0354   0.0000   0.0000  -0.5000 -0.0354

In [13]:
COV = returns.cov()*365.25
COV

         BTCUSDT  ETHUSDT  BNBUSDT  LTCUSDT  TRXUSDT  XRPUSDT       TP
BTCUSDT   0.9318   1.3560   2.5704   1.3351   1.3577  -0.2551   2.5704
ETHUSDT   1.3560   6.3887   4.4678   1.8802   1.2634   5.0890   4.4678
BNBUSDT   2.5704   4.4678 127.9861   3.2701   1.2058   7.4519 127.9861
LTCUSDT   1.3351   1.8802   3.2701   2.1551   2.3322   0.2308   3.2701
TRXUSDT   1.3577   1.2634   1.2058   2.3322   3.5577   0.9450   1.2058
XRPUSDT  -0.2551   5.0890   7.4519   0.2308   0.9450  11.7041   7.4519
TP        2.5704   4.4678 127.9861   3.2701   1.2058   7.4519 127.9861

In [14]:
COV.iloc[:-1, -1].dot(optimal_weights)

127.98605948767404

In [15]:
COV.iloc[-1, -1]

127.98605948767404

In [18]:
# Annualised Risk σ, Return, Sharpe & Variance
def annualised_risk_return(returns):
    stats = returns.agg(['mean', 'std']).T
    stats.columns = ['Return', 'Risk']
    stats.Return = stats.Return*365.25 # Crypto exchanges trade every day, including leap days.
    stats.loc[stats.Return < -1, 'Return'] = -1 # Set losses > 100% to -100%
    stats.Risk = stats.Risk * np.sqrt(365.25) # maybe switch to log returns
    return stats 
stats = annualised_risk_return(returns) # Risk may not be accurate for mean daily losses > 0.274% ()
stats['Sharpe'] = stats['Return'].sub(riskfree_return)/stats['Risk']
stats['Variance'] = np.power(stats.Risk, 2)
# Systematic & Unsystematic Risk in Variance
stats['Sys. Var.'] = COV.iloc[:,-1]
stats['Unsys. Var.'] = stats['Variance'].sub(stats['Sys. Var.'])
# Normalize == beta
stats['beta'] = stats['Sys. Var.'] / stats.loc['TP', 'Sys. Var.']
# Expected Return
stats["CAPM"] = riskfree_return + (stats.loc["TP", "Return"] - riskfree_return) * stats.beta
# Alpha, asset below or above Security market line
stats['alpha'] = stats.Return - stats.CAPM
stats

,Return,Risk,Sharpe,Variance,Sys. Var.,Unsys. Var.,beta,CAPM,alpha
BTCUSDT,-1.0000,0.9653,-1.0681,0.9318,2.5704,-1.6386,0.0201,0.5860,-1.5860
ETHUSDT,-1.0000,2.5276,-0.4079,6.3887,4.4678,1.9209,0.0349,0.9957,-1.9957
BNBUSDT,27.6662,11.3131,2.4428,127.9861,127.9861,-0.0000,1.0000,27.6662,0.0000
LTCUSDT,-1.0000,1.4680,-0.7023,2.1551,3.2701,-1.1150,0.0256,0.7371,-1.7371
TRXUSDT,-1.0000,1.8862,-0.5466,3.5577,1.2058,2.3519,0.0094,0.2914,-1.2914
XRPUSDT,-1.0000,3.4211,-0.3014,11.7041,7.4519,4.2522,0.0582,1.6400,-2.6400
TP,27.6662,11.3131,2.4428,127.9861,127.9861,-0.0000,1.0000,27.6662,0.0000