Install dependencies with:
```sh
pip install -r requirements.txt
```

For some functionality you need a valid API-key.  
Export as environment variables.
Afterwards run notebook from same shell.


Bash/Sh/Zsh:
```sh
export BINANCE_API_KEY='your_api_key'
export BINANCE_API_SECRET='your_secret_key'

# Check
echo $BINANCE_API_KEY
echo $BINANCE_API_SECRET
```
Powershell:
```powershell
$env:BINANCE_API_KEY = 'your_api_key'
$env:BINANCE_API_SECRET = 'your_secret_key'

# Check
$env:BINANCE_API_KEY
$env:BINANCE_API_KEY
```

In [4]:
import os
import pandas as pd
import numpy as np
from binance.spot import Spot as Client

In [5]:
# Ommit base_url argument to default to api.binance.com
client = Client(os.getenv('BINANCE_API_KEY'), os.getenv('BINANCE_API_SECRET'), base_url='https://testnet.binance.vision')
print(client.time())

{'serverTime': 1651950670158}

In [6]:
pd.json_normalize(client.account()['balances'])

  asset             free      locked
0   BNB    1000.00000000  0.00000000
1   BTC       1.00000000  0.00000000
2  BUSD   10000.00000000  0.00000000
3   ETH     100.00000000  0.00000000
4   LTC     500.00000000  0.00000000
5   TRX  500000.00000000  0.00000000
6  USDT   10000.00000000  0.00000000
7   XRP   50000.00000000  0.00000000

In [70]:
symbols = ['BTCUSDT', 'ETHUSDT', 'BNBUSDT', 'LTCUSDT', 'TRXUSDT', 'XRPUSDT' ]

In [192]:
df = pd.DataFrame(columns=symbols)
for symbol in symbols:
     # df[symbol]= [(c[4], c[6]) for c in client.klines(symbol, "1d")] can't extract timestamp from tuple, only save in dataframe cells.
     df[symbol]= [c[4] for c in client.klines(symbol, "1d")]

In [193]:
df

,BTCUSDT,ETHUSDT,BNBUSDT,LTCUSDT,TRXUSDT,XRPUSDT
0,39695.80000000,2940.67000000,402.60000000,106.40000000,0.08630000,0.64610000
1,36551.04000000,2747.93000000,378.50000000,96.90000000,0.07454000,0.59830000
2,35844.54000000,2655.33000000,157.07000000,95.60000000,0.08167000,0.58130000
3,35187.42000000,2623.81000000,365.50000000,94.10000000,0.08168000,0.58150000